*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #FFFBF0;
}
section{
    margin-top: 1rem;
}
section p{
    font-size: 1rem;
}
h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20rem;
    line-height: 5rem;
    color: #363958;
}
.product h3{
    font-size: 3rem;
    font-weight: 700;
}
.card-body h5{
    font-size: 1.5 rem;
    font-weight: 700;
    color: #363958;
}
.cart-footer-content h3{
    color: #FABE4C;
    font-size: 2.25rem;
    font-weight: 900;
}
.img-icon{
    height: auto;
    width: 4rem;
    padding: 0;
}
.logo-txt{
    font-size: 1.5rem;
}
.navbar-nav>li>a{
    font-weight: 700;
    color: #84837F;
}
/* banner start*/
.banner-content{
    padding-left: 2.5rem;
    padding-top: 2rem;
}
.banner-content p,.cart-content p{
    font-size: 1rem;
    font-weight: 400;
}
.banner-img img{
    height: 20rem;
    width: 20rem;
}
.banner-btn{
    padding:.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #ddaf09;
}
.banner-btn i{
    color: white;
    padding-right: 5px;
    /* padding: 5px; */
    margin-right: 5px;
}
/* Banner End */

/* Category Section Start */
.category img{
    width: 16rem;
    height: 18.3rem;
    background-color: #F1F1F1;
    border-radius: 5px;
    margin: 0 auto;
}

/* category section End */

.cart-img img{
    Width: 599px;
    Height: 354.07px;
    
}
.cart-content h5{
    font-size: 1.5rem;
    font-weight: 700;
}
.card-cart{
    background-color: #F9F3F3;
    border-radius: 5px;
}
.card-cart img{
    padding-top: 1.5rem;
    padding-left: .5rem;
    height: 6rem;
    width: 5rem;
}
#contact{
   padding: 2% 3%;
}
footer{
    background-color: #e2c455;
    padding: 5px;
  }
  footer a{
    color: rgb(36, 33, 33);
    text-decoration: none;
    padding: 15px 5px;
  }
  @media (max-width:768px) {
      #cart{
        flex-direction: column-reverse;
          text-align: center;
      }
      .cart-img img{
          width: 100%;
          height: auto;

      }
      .cart-footer-content{
          display: block;
        justify-content: flex-end;
      }
  }